/* import fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400&family=Syne:wght@600;700&display=swap');

/* set app-wide font styling */
h1 {
  font-family: 'Syne';
}

h2 {
  font-family: 'Syne';
}

h3 {
  font-family: 'Syne';
}

h4 {
  font-family: 'Syne';
}

p {
  font-family: 'Inter';
}

/* Header */
.App-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 21.44px;
  position: fixed;
}

.Header-top {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.Header-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Header-social-logo-group {
  bottom: 0;
  right: 0;
  position: fixed;
  padding-right: 21.44px;

}

.Header-social-logo {
  padding-left: 6px;
  width: 30px;
}

.Header-customize {
  bottom: 0;
}

/* remove bullets from menu link list */
.no-bullets {
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-family: 'Inter';
  margin-bottom: 20px;
  font-size: calc(10px + 2vmin);
}

/* space between menu link items */
li:not(:last-child) {
  margin-bottom: 10px;
}

.Sidebar-link {
  cursor: pointer;
}

/* Customizer*/
.Customize-container {
  border: 1px solid;
  font-family: 'Inter';
  bottom: 0;
  position: fixed;
  padding: 10px;
  margin: 10px;
}

input:focus {
  outline: none;
  width: 70px;
}

input {
  border: none;
  width: 70px;
}


